@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/razed');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body{
    height: 100vh;
    background-color: #111;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.logo{
    font-family: "Razed";
    font-weight: bold;
    font-size: 5rem;
}

